<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>商品兑换</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="stylesheet" type="text/css" href="/public/static/my/css/my.css"/>

    <script>
        $(document).ready(function(e) {
            $(".jquery_div").click(function(){

                alert("jquery单击");

            });
        });
        function xiangqing() {
            alert('点击了');
        }

    </script>
</head>
<body>
<div id="top">
    <h2 style="line-height: 50px;">美酒兑换</h2>
</div>
<div id="content">
    <div>
        <div class="item" onclick="xiangqing()">
            <img src="../../../public/static/my/img/001.png" height=120px width=100% />
            <p>蓝色经典</p>
        </div>
    </div>

    <div class="item" onclick="xiangqing()">
        <img src="../../../public/static/my/img/001.png" height=100% width=100%/></div>
    <div class="item" onclick="xiangqing()">
        <img src="../../../public/static/my/img/001.png" height=100% width=100%/></div>
    <div class="item" onclick="xiangqing()">
        <img src="../../../public/static/my/img/002.jpg" height=100% width=100%/></div>
    <div class="item" onclick="xiangqing()">
        <img src="../../../public/static/my/img/002.jpg" height=100% width=100%/></div>
    <div class="item" onclick="xiangqing()">
        <img src="../../../public/static/my/img/001.png" height=100% width=100%/></div>
    <div class="item" onclick="xiangqing()">
        <img src="../../../public/static/my/img/001.png" height=100% width=100%/></div>
    <div class="item" onclick="xiangqing()">
        <img src="../../../public/static/my/img/002.jpg" height=100% width=100%/></div>
    <div class="item" onclick="xiangqing()">
        <img src="../../../public/static/my/img/002.jpg" height=100% width=100%/></div>
    <div class="item" onclick="xiangqing()">
        <img src="../../../public/static/my/img/001.png" height=100% width=100%/></div>
    <div class="item" onclick="xiangqing()">
        <img src="../../../public/static/my/img/001.png" height=100% width=100%/></div>



</div>
</body>
</html>
